html{
    size: 62.5%;
}


* {
    font-family: fleuton 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    
}


.grid-acco-imagen{
    display: inline grid;
    grid-template-columns: 1fr 1fr;

    grid-template-rows: 2fr 1fr;

    }

.grid-container{
    display: grid;
    grid-template-columns: columna1 columna2 columna3;
    grid-template-rows: fila1 fila2 fila3;
    
    
   
    grid-auto-rows: minmax(5    0px, auto);  }
  .foto {
    grid-column: 1 ;
    grid-row: 2;
  }
  .texto {
    grid-column: 2 ;
    grid-row: 2 ;
  }
  


h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif, cursive;
   
}
.flex-producto{
    display: flex;
}

.flex-container{
    display: flex;
    
    justify-content: center;
    
    
    
    justify-content: space-between;
    
    padding: 25px;
  
    align-content: flex-start;

    flex-wrap: nowrap;


}

#accordionExample{
    background-color:rgba(77, 61, 43, 0.61);

    max-width: 500px;
    margin: 50px auto;
    box-shadow: 0 0 1px rgba(0,0,0,0.1);
    grid-row: 1fr 1fr;

  }

.flex-item{
   

    justify-content: flex-start;

    
}

a:visited{
    color: white


}
h2{
    text-align: center;
}
.formulario{    border-radius: 5px;
    background-color: rgba(211, 211, 211, 0.589);
    padding: 25px;
    margin: 10px 450px;
    color: rgb(221, 216, 209);
    }



body {
    background-color:rgba(77, 61, 43, 0.61);
}

nav{
    display: flex;
    height: 24vh;
    justify-content: space-between;
    
     
    border-radius: 5px;
    
}



a{
    text-decoration: none;
}

ul{
    display: flex;
    list-style-type: none;
    
}

ul li{
    margin: 1em;
}
.colorcamel{
    color:rgb(165, 127, 82);
    font-size: 40px;

}



header{
    
    color: white;
    width: 100%;
}



#eldiv{
    border-width: 2px;
    border-style: solid;
    

}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
   
    justify-content: space-around;
    
}